.Category {
  position: absolute;
  top:71px;
  left:0;
  border:1px solid #ddd;
  color:#000;
  font-size: 0.9rem;
  font-weight: 400;
  background-color: #fff;
  cursor: auto;
  // display:flex;

  .maincategoryname {
    font-weight: bold;
    position: relative;
    height: 600px;

    .categoryname {
      border-bottom: 1px solid #ddd;
      padding: 14px 26px;
      position: relative;
      width: 250px;
      box-sizing: border-box;

      .categoryarrow {
        position: absolute;
        right:30px;
        color:red;
      }
    }

    .maincategorylist {
      padding: 10px 0;
      font-weight: 500;
      width: 250px;
      
      .categorylist {
        padding: 16px 0;
        cursor: pointer;

        p {
          padding-left: 26px;
        }
      }
    }
  }

  .middlecategoryname {
    font-weight: bold;
    width: 250px;
    height: 600px;
    position: absolute;
    top:0;
    left:251px;
    background-color: #fff;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;

    .middlename {
      border-bottom: 1px solid #ddd;
      padding: 14px 26px;
      position: relative;

      .categoryarrow {
        position: absolute;
        right:30px;
        color:red;
      }
    }

    .middlecategorylist {
      padding: 10px 0;
      font-weight: 500;

      .middlelist {
        padding: 16px 0;
        cursor: pointer;

        p {
          padding-left: 26px;
        }
      }
    }
  }
}