.inner {
  width: 60%;
  margin: 0 auto;
}

.submit {
  color: #000;
}

.ProductRegisterTitle {
  height: 100px;
  color: rgb(25, 25, 25);
  font-size: 26px;
  font-weight: 400;
  display: flex;
  align-items: center;
  border-bottom: 2px solid rgb(25, 25, 25);
}
.ProductRegisterTitle span {
  color: rgb(216, 12, 24);
  font-size: 1rem;
  margin-left: 2rem;
}

fieldset .inputContainer:nth-child(2) label::after {
  content: "";
}

fieldset .inputContainer {
  display: flex;
  padding: 2rem 0;
  border-bottom: 1px solid rgb(218, 218, 218);
}
fieldset .inputContainer div:nth-child(2) {
  width: calc(100% - 200px);
}
fieldset .inputContainer div:nth-child(2) .categoryNotice {
  display: block;
  color: rgb(245, 126, 0);
  font-size: 14px;
  margin-top: 0.5rem;
}
fieldset .inputContainer div:nth-child(2) .categoryNotice i {
  font-size: 16px;
  margin-right: 5px;
}
fieldset .inputContainer div:nth-child(2) .choiceCategory {
  margin-top: 1.5rem;
  display: block;
  font-size: 16px;
  font-weight: 400;
  color: rgb(216, 12, 24);
}
fieldset .inputContainer div:nth-child(2) .choiceCategory b {
  font-weight: 600;
}
fieldset .inputContainer div:nth-child(2) .productRadio {
  display: flex;
  line-height: 125%;
  color: rgb(25, 25, 25);
  align-items: center;
  position: relative;
  margin-right: 2rem;
  margin-bottom: 15px;
  cursor: pointer;
}
fieldset .inputContainer div:nth-child(2) .productRadio:last-child {
  margin-bottom: 0;
}
fieldset .inputContainer div:nth-child(2) .productRadio span {
  margin-left: 8px;
  font-size: 14px;
  margin-top: 3px;
  color: rgb(102, 102, 102);
}
fieldset .inputContainer div:nth-child(2) .productRadio input[type=radio] {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  opacity: 30%;
  margin: 10px;
  border: none;
  padding: 0;
  border: 1px solid #cfcfcf;
}
fieldset .inputContainer div:nth-child(2) .productRadio input[type=radio]:checked {
  opacity: 1;
  accent-color: red;
}
fieldset .inputContainer div.nameInput {
  display: flex;
  flex-wrap: wrap;
}
fieldset .inputContainer div.nameInput #productName {
  width: 90%;
  font-size: 16px;
  font-weight: 400;
  line-height: 125%;
  color: rgb(25, 25, 25);
  border-radius: 2px;
  border: 1px solid rgb(204, 204, 204);
}
fieldset .inputContainer div.nameInput #productName.on {
  outline: 1px solid rgb(245, 126, 0) !important;
}
fieldset .inputContainer div.nameInput span {
  width: 10%;
  line-height: 45px;
  text-align: right;
}
fieldset .inputContainer div.nameInput .notice {
  display: block;
  width: 100%;
  color: rgb(245, 126, 0);
  font-size: 14px;
  margin-top: 0.5rem;
  align-items: center;
  text-align: left;
}
fieldset .inputContainer div.nameInput .notice i {
  margin-right: 10px;
}
fieldset .inputContainer div .register {
  display: flex;
  height: 19rem;
  overflow: hidden;
  border-radius: 2px;
  border: 1px solid rgb(204, 204, 204);
  background: rgb(255, 255, 255);
}
fieldset .inputContainer div .register.active {
  border: 1px solid rgb(245, 126, 0) !important;
}
fieldset .inputContainer div .register > div {
  position: relative;
  width: 33.3333%;
  height: 100%;
  overflow-y: auto;
  font-size: 14px;
  font-weight: 600;
  color: rgb(99, 99, 99);
  padding: 0.5rem 0;
}
fieldset .inputContainer div .register > div .categoryNon {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 16px;
  font-weight: 400;
  color: rgb(153, 153, 153);
}
fieldset .inputContainer div .register > div:nth-child(2) {
  border: 1px solid rgb(204, 204, 204);
  border-top: none;
  border-bottom: none;
}
fieldset .inputContainer div .register > div button {
  width: 100%;
  height: 40px;
  text-align: left;
  line-height: 40px;
  padding-left: 15px;
  cursor: pointer;
  font-weight: 500;
}
fieldset .inputContainer div .register > div button:hover {
  background-color: #cfcfcf;
}
fieldset .inputContainer div .register > div button.on {
  color: rgb(216, 12, 24);
}
fieldset .inputContainer div.sellerLocation ul {
  display: flex;
  margin-bottom: 15px;
}
fieldset .inputContainer div.sellerLocation ul li {
  width: 100px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  color: rgb(25, 25, 25);
  border: 1px solid rgb(204, 204, 204);
  margin-right: 1rem;
  border-radius: 2px;
}
fieldset .inputContainer div.sellerLocation input {
  width: 100%;
}
fieldset .inputContainer input {
  height: 45px;
  padding: 0 1rem;
}
fieldset .inputContainer .inputTitle {
  width: 200px;
  font-size: 18px;
  font-weight: 400;
  color: rgb(25, 25, 25);
  line-height: 45px;
}
fieldset .inputContainer .inputTitle small {
  color: rgb(178, 178, 178);
  font-size: 16px;
  font-weight: 400;
  line-height: 42px;
  margin-left: 0.25rem;
  vertical-align: top;
}
fieldset .inputContainer .inputTitle span {
  color: red;
}
fieldset .inputContainer .inputTitle:after {
  content: "*";
  color: red;
}
fieldset .inputContainer #imageInput {
  display: block;
  width: 202px;
  height: 202px;
  position: relative;
  border-radius: 2px;
  border: 1px solid rgb(204, 204, 204);
  background: rgb(250, 250, 250);
}
fieldset .inputContainer #imageInput input[type=file] {
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}
fieldset .inputContainer #imageInput input::file-selector-button {
  display: none;
}
fieldset .inputContainer #imageInput i {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: #cfcfcf;
  text-align: center;
  line-height: 30px;
  font-size: 2.5rem;
  pointer-events: none;
}
fieldset .inputContainer #imageInput i span {
  display: block;
  color: rgb(102, 102, 102);
  font-size: 16px;
  margin-top: 13px;
}
fieldset .inputContainer .imgExplain {
  display: block;
  margin-top: 20px;
  color: rgb(102, 102, 102);
  line-height: 180%;
  font-size: 14px;
  font-weight: 400;
}/*# sourceMappingURL=Register.css.map */