@charset "UTF-8";
/* footerTop */
.footerTop {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}
.footerTop .footerMenu {
  height: 60px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}
.footerTop .footerMenu a {
  font-size: 0.9rem;
  padding: 0 22px;
  position: relative;
  color: #333;
}
.footerTop .footerMenu a:first-of-type {
  padding: 0 22px 0 0;
}
.footerTop .footerMenu a::after {
  display: inline-block;
  content: "";
  width: 1px;
  height: 50%;
  position: absolute;
  top: 50%;
  right: -1%;
  background-color: #aaa;
  transform: translate(-50%, -50%);
}
.footerTop .footerMenu a:nth-of-type(4) {
  font-weight: bold;
}
.footerTop .footerMenu a:last-of-type::after {
  display: none;
}

/* footerMainContents */
.footerMainContents {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 40px 0;
  border-bottom: 1px solid #ddd;
  /* address, bungaeInfo 와 pointInfo 둘을 감싸고 위아래로 배치 */
  /* customer, customerInfo 와 guide 둘을 감싸고 위아래로 배치  */
}
.footerMainContents a {
  text-decoration: underline;
  font-size: 0.8rem;
  color: #333;
}
.footerMainContents .title {
  font-weight: bold;
  font-size: 1rem;
  padding-bottom: 10px;
}
.footerMainContents .address {
  width: 48%;
  /* bungaeInfo */
  /* pointInfo */
}
.footerMainContents .address .bungaeInfo {
  padding-bottom: 30px;
}
.footerMainContents .address .bungaeInfo .addrContents {
  color: #7f7f7f;
  font-size: 0.75rem;
}
.footerMainContents .address .bungaeInfo .addrContents > p {
  padding-bottom: 10px;
}
.footerMainContents .address .pointInfo {
  color: #7f7f7f;
  font-size: 0.75rem;
}
.footerMainContents .address .pointInfo p {
  padding-bottom: 10px;
}
.footerMainContents .address .pointInfo p b {
  font-size: 0.8rem;
  font-weight: bold;
  color: #333;
}
.footerMainContents .customer {
  width: 48%;
  /* customerInfo */
  /* guide */
}
.footerMainContents .customer .customerInfo {
  padding-bottom: 30px;
}
.footerMainContents .customer .customerInfo strong {
  font-size: 1.5rem;
  font-weight: bold;
  color: #666;
}
.footerMainContents .customer .customerInfo .centerTime {
  color: #7f7f7f;
  font-size: 0.75rem;
  padding: 6px 0;
}
.footerMainContents .customer .customerInfo a {
  margin-right: 16px;
}
.footerMainContents .customer .guide .guideContent {
  color: #7f7f7f;
  font-size: 0.75rem;
  line-height: 1.5rem;
}
.footerMainContents .customer .guide .copyright {
  color: #7f7f7f;
  font-size: 0.8rem;
  padding: 10px 0;
}

.term {
  margin: 0 auto;
  padding: 30px 0;
  display: flex;
  justify-content: space-between;
}
.term .termContent {
  width: 48%;
}
.term .termContent .termLink {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.term .termContent .termLink img {
  width: 30px;
  height: 30px;
  padding-bottom: 6px;
}
.term .termContent .termLink .termWrite {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #7f7f7f;
  font-size: 0.7rem;
  padding-left: 10px;
}
.term .termContent .termLink .termWrite p {
  margin-bottom: 6px;
}
.term .termExplain {
  width: 48%;
}
.term .termExplain .explainContent {
  color: #7f7f7f;
  font-size: 0.7rem;
}/*# sourceMappingURL=footer.css.map */