.wishList .check {
  width: 24px;
  height: 24px;
  border: 1px solid rgb(238, 238, 238);
  cursor: pointer;
  transition: border 0.2s ease 0s, background-color 0.2s ease 0s;
  position: relative;
}
.wishList .check::before {
  content: "";
  position: absolute;
  bottom: 5px;
  left: 0px;
  border-width: 2px;
  border-style: solid;
  border-color: transparent rgb(204, 204, 204) rgb(204, 204, 204) transparent;
  width: 6px;
  height: 12px;
  transform: rotate(40deg);
  transform-origin: 100% 100%;
}
.wishList .check::after {
  content: "";
  position: absolute;
  bottom: 5px;
  left: 2px;
  border-width: 2px;
  border-style: solid;
  border-color: transparent;
  width: 0px;
  height: 0px;
  transform: rotate(40deg);
  transform-origin: 100% 100%;
  transition: width 0.1s ease-out 0s, height 0.1s ease-out 0.1s;
}
.wishList .check.on {
  width: 24px;
  height: 24px;
  cursor: pointer;
  position: relative;
  background: rgb(247, 47, 51);
  border: 1px solid rgb(247, 47, 51);
  transition: border 0.2s ease 0s, background-color 0.2s ease 0s;
}
.wishList .check.on::before {
  content: "";
  position: absolute;
  bottom: 5px;
  left: 0px;
  border-width: 2px;
  border-style: solid;
  border-color: transparent rgb(204, 204, 204) rgb(204, 204, 204) transparent;
  width: 6px;
  height: 12px;
  transform: rotate(40deg);
  transform-origin: 100% 100%;
}
.wishList .check.on::after {
  content: "";
  width: 6px;
  height: 12px;
  border-right: 2px solid rgb(255, 255, 255);
  border-bottom: 2px solid rgb(255, 255, 255);
}
.wishList h2 {
  font-size: 18px;
  padding: 50px 0px 20px;
  border-bottom: 1px solid rgb(238, 238, 238);
  -webkit-box-pack: justify;
}
@media screen and (max-width:500px) {
  .wishList h2 {
    font-size: 16px;
    padding: 30px 0 10px;
  }
}
.wishList h2 span {
  color: rgb(247, 47, 51);
}
.wishList .sortBtn {
  margin: 25px 0px 20px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.wishList .checkControll {
  width: 24px;
  height: 24px;
  border: 1px solid rgb(238, 238, 238);
  cursor: pointer;
  transition: border 0.2s ease 0s, background-color 0.2s ease 0s;
  position: relative;
}
.wishList ul {
  display: flex;
  flex-wrap: wrap;
}
.wishList ul li {
  position: relative;
  width: 48%;
  margin: 0 1% 1%;
}
.wishList ul li .check {
  position: absolute;
  z-index: 10;
  top: 20px;
  right: 15px;
}
.wishList ul li .check.on {
  position: absolute;
}
.wishList ul li .pro {
  width: 100%;
}
.wishList ul li .pro .pro_img img {
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (min-width:500px) {
  .wishList ul .productlist .pro {
    display: flex;
    filter: none;
  }
  .wishList ul .productlist .pro .pro_img {
    width: 160px;
    height: 160px;
  }
  .wishList ul .productlist .pro .pro_img img {
    -o-object-fit: cover;
       object-fit: cover;
    height: 100%;
  }
  .wishList ul .productlist .pro .pro_comtent {
    padding: 20px;
  }
  .wishList ul .productlist .pro .pro_comtent .pro_name {
    font-size: 14px;
    margin-bottom: 10px;
    padding: 0;
  }
  .wishList ul .productlist .pro .pro_comtent .pro_price {
    font-size: 16px;
    font-weight: 600;
    margin-right: 3px;
    line-height: 1;
  }
  .wishList ul .productlist .pro .pro_comtent .pro_pr_da {
    display: block;
  }
  .wishList ul .productlist .pro .pro_comtent .pro_pr_da .pro_date {
    margin-top: 10px;
  }
}
@media screen and (max-width:500px) {
  .wishList ul li {
    width: 30.33333%;
    margin: 0 1.5% 1.5%;
  }
  .wishList ul li .pro {
    margin-top: 0;
  }
  .wishList ul li .pro .pro_name {
    font-size: 12px;
  }
  .wishList ul li .pro .pro_pr_da {
    display: block;
  }
  .wishList ul li .pro .pro_img img {
    height: 35vw;
  }
  .wishList ul li .pro .pro_date {
    font-size: 12px;
    padding-bottom: 5px;
  }
}/*# sourceMappingURL=wish.css.map */