.chatList {
  width: 1000px;
  height: 700px;
  border: 1px solid #ccc;
  margin: 0 auto;
  text-align: none;
  display: flex;
  margin-top: -1px;
  & > div {
    flex: 1;
  }
  
  .chatList_left {
    
    height: 100%;

    .chatList_header {
      padding: 20px 0;
      position: relative;
      border-bottom: 1px solid rgb(212, 212, 212);
      >span {
        cursor: pointer;
        padding: 5px;
        position: absolute;
        right: 10px;
        text-decoration: underline;

      }
      .chatList_inner_listType {
        text-align: left;
        .chatList_inner_listType_type {
          cursor: pointer;
          display: inline-block;
          padding: 8px 15px;
          font-size: 2em;
          font-weight: 600;
        }
      }
    }

    .chatList_inner {
      overflow-y: scroll;
      height: 640px;
     
      .chatList_inner_roomList {
        margin: 0;
        padding: 0;
        width: 100%;
        li {
          clear: both;
          list-style: none;
          padding: 10px;
          display: flex;
          cursor: pointer;
          .chatList_inner_chatRoomLink_img {
            position: relative; 
            width: 60px;
            height: 60px;
            background-color: #CCC;
            border-radius: 50%;
            
            img {
              position: relative;
              border-radius: 50%;
              width: 100%;
              height: 100%;
              object-fit: cover;
              z-index: 2;
            }
            svg{
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%,-50%);
              width: 70%;
              height: 70%;
              color: white;
              z-index: 1;
            }
          }
          .chatList_inner_chatRoomLink_contents {
            margin-left: 10px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: left;
            div:first-child {
              font-size: 1.3em;
              font-weight: 600;
            }
            div:last-child {
              color: #aaa;
            }
          }
          &:hover {
            background-color: #eee;
          }
        }
      }
    }
  }
  .chatList_right {
    border-left: 1px solid #ccc;
    height: 700px;
    .chatRoom_header {
      border-bottom: 1px solid #ccc;
      height: 50px;
      font-size: 25px;
      font-weight: 600;
      line-height: 50px;
      padding-left: 20px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      button {
        font-size: 0.5em;
        margin-right: 10px;
        border: 1px solid black;
        border-radius: 3px;
        height: 30px;
        padding: 5px;
      }
    }
    .chatLog {
      height: 570px;
      overflow-y: scroll;

      li {
        .empty-chat {
          width: 100%;
          height: 570px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          img {
            width: 150px;
            height: 150px;
          }
          span{
            background-color: transparent;
            font-weight: 900;
            text-align: center;
          }
        }
      }
      .chat_message {
        margin: 5px;

        border: none;

        padding: 5px;
      }
      .oppo {
        text-align: left;
      }
      .me {
        text-align: right;
      }
      span {
        display: inline-block;
        text-align: left;
        padding: 5px;
        width: 200px;
        overflow-wrap: break-word;
        border-radius: 10px;
        background-color: #f5f5f5;
      }
    }
    .chatSend {
      height: 80px;
      border-top: 1px solid #ccc;
      display: flex;
      align-items: center;
      svg {
        margin-left: 10px;
      }
      textarea {
        border: none;
        background-color: #eee;
        margin: 0 10px;
        padding: 5px 20px;
        border-radius: 20px;
        flex: 1;
        height: 30px;
        font-size: 1.4em;
        line-height: 30px;
        padding: 6px;
        overflow-y: scroll;
        resize: none;
        &::-webkit-scrollbar {
          display: none;
        }
      }
      button {
        display: none;
      }
    }
  }
}
