.chatList {
  width: 1000px;
  height: 750px;
  border: 1px solid #ccc;
  margin: 0 auto;
  text-align: none;
  display: flex;
  margin-top: -1px;
}
.chatList > div {
  flex: 1;
}
.chatList .chatList_left {
  height: 100%;
}
.chatList .chatList_left .chatList_header {
  padding: 20px 0;
  position: relative;
}
.chatList .chatList_left .chatList_header > span {
  cursor: pointer;
  padding: 5px;
  position: absolute;
  right: 10px;
  text-decoration: underline;
}
.chatList .chatList_left .chatList_header .chatList_inner_listType {
  text-align: left;
}
.chatList .chatList_left .chatList_header .chatList_inner_listType .chatList_inner_listType_type {
  cursor: pointer;
  display: inline-block;
  padding: 8px 15px;
  font-size: 2em;
  font-weight: 600;
}
.chatList .chatList_left .chatList_inner {
  height: 640px;
}
.chatList .chatList_left .chatList_inner .chatList_inner_roomList {
  overflow-y: scroll;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
.chatList .chatList_left .chatList_inner .chatList_inner_roomList li {
  clear: both;
  list-style: none;
  padding: 10px;
  display: flex;
  cursor: pointer;
  position: relative;
  font-size: 1.3em;
  align-items: center;
  justify-content: flex-start;
}
.chatList .chatList_left .chatList_inner .chatList_inner_roomList li .chatList_inner_chatRoomLink_img {
  position: relative;
  width: 60px;
  height: 60px;
  background-color: #ccc;
  border-radius: 50%;
}
.chatList .chatList_left .chatList_inner .chatList_inner_roomList li .chatList_inner_chatRoomLink_img img {
  position: relative;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 2;
}
.chatList .chatList_left .chatList_inner .chatList_inner_roomList li .chatList_inner_chatRoomLink_img svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  height: 70%;
  color: white;
  z-index: 1;
}
.chatList .chatList_left .chatList_inner .chatList_inner_roomList li .chatList_inner_chatRoomLink_contents {
  width: 200px;
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  overflow: hidden;
}
.chatList .chatList_left .chatList_inner .chatList_inner_roomList li .chatList_inner_chatRoomLink_contents span {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.chatList .chatList_left .chatList_inner .chatList_inner_roomList li .chatList_inner_chatRoomLink_contents span:first-child {
  font-weight: 600;
}
.chatList .chatList_left .chatList_inner .chatList_inner_roomList li .chatList_inner_chatRoomLink_contents span:last-child {
  color: #aaa;
}
.chatList .chatList_left .chatList_inner .chatList_inner_roomList li:hover {
  background-color: #eee;
}
.chatList .chatList_left .chatList_inner .chatList_inner_roomList li .chatList_inner_pimg {
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 3px;
  overflow: hidden;
  margin-left: auto;
  margin-right: 0;
}
.chatList .chatList_left .chatList_inner .chatList_inner_roomList li .chatList_inner_pimg img {
  width: 100%;
  height: 100%;
}
.chatList .chatList_left .chatList_inner .chatList_inner_roomList li .notReadCnt {
  position: absolute;
  right: 70px;
  width: 35px;
  height: 35px;
  top: 50%;
  font-weight: 600;
  text-align: center;
  line-height: 35px;
  transform: translate(0, -50%);
  background-color: #f70000;
  border-radius: 50%;
  color: white;
}
.chatList .chatList_left .chatList_inner .chatList_inner_roomList li .cntOverTen {
  font-size: 0.8em;
}
.chatList .chatList_right {
  border-left: 1px solid #ccc;
  height: 100%;
  position: relative;
  overflow: hidden;
}
.chatList .chatList_right .purchaseModal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 150%;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: flex-end;
  z-index: -1;
  transition: all 0.5s ease-out;
  opacity: 0;
}
.chatList .chatList_right .purchaseModal.active {
  top: -50%;
  opacity: 1;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.3);
}
.chatList .chatList_right .purchaseModal > div {
  padding-top: 30px;
  padding-bottom: 50px;
  background-color: white;
  border-radius: 30px 30px 0 0;
  font-weight: 700;
  font-size: 2em;
}
.chatList .chatList_right .purchaseModal > div div:first-of-type {
  padding-bottom: 30px;
}
.chatList .chatList_right .purchaseModal > div div:last-of-type button {
  display: block;
  width: 90%;
  padding: 10px 20px;
  margin: 10px auto;
  border-radius: 10px;
  background-color: #f70000;
  color: white;
  font-size: 0.7em;
}
.chatList .chatList_right .chatRoom_header {
  border-bottom: 1px solid #ccc;
  height: 50px;
  font-size: 25px;
  font-weight: 600;
  line-height: 50px;
  padding-left: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.chatList .chatList_right .chatRoom_header button {
  font-size: 0.5em;
  margin-right: 10px;
  border: 1px solid black;
  border-radius: 3px;
  height: 30px;
  padding: 5px;
}
.chatList .chatList_right .purchase {
  display: flex;
  padding: 10px;
  border-bottom: 1px solid #ccc;
  align-items: center;
}
.chatList .chatList_right .purchase .productlist {
  margin: -1px -1px 0 0;
  width: 400px;
  flex: 1;
  float: none;
}
.chatList .chatList_right .purchase .productlist .pro {
  border-radius: none !important;
  display: flex;
  border: none;
  background-color: transparent;
  box-shadow: none;
}
.chatList .chatList_right .purchase .productlist .pro .pro_status {
  width: 80px;
  height: 80px;
}
.chatList .chatList_right .purchase .productlist .pro .pro_status .pro_img {
  display: block;
  width: 80px;
  height: 80px;
}
.chatList .chatList_right .purchase .productlist .pro .pro_status .pro_img img {
  width: 100%;
  height: 100%;
}
.chatList .chatList_right .purchase button {
  color: white;
  background-color: #f70000;
  padding: 10px;
  border-radius: 5px;
}
.chatList .chatList_right .chatLog {
  height: 520px;
  overflow-y: scroll;
}
.chatList .chatList_right .chatLog li .empty-chat {
  width: 100%;
  height: 570px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.chatList .chatList_right .chatLog li .empty-chat img {
  width: 150px;
  height: 150px;
}
.chatList .chatList_right .chatLog li .empty-chat span {
  background-color: transparent;
  font-weight: 900;
  text-align: center;
}
.chatList .chatList_right .chatLog .chat_message {
  margin: 5px;
  border: none;
  padding: 5px;
}
.chatList .chatList_right .chatLog .oppo {
  text-align: left;
}
.chatList .chatList_right .chatLog .me {
  text-align: right;
}
.chatList .chatList_right .chatLog span {
  display: inline-block;
  text-align: left;
  padding: 5px;
  width: 200px;
  overflow-wrap: break-word;
  border-radius: 10px;
  background-color: #f5f5f5;
}
.chatList .chatList_right .chatSend {
  height: 80px;
  border-top: 1px solid #ccc;
  display: flex;
  align-items: center;
}
.chatList .chatList_right .chatSend svg {
  margin-left: 10px;
}
.chatList .chatList_right .chatSend textarea {
  border: none;
  background-color: #eee;
  margin: 0 10px;
  padding: 5px 20px;
  border-radius: 20px;
  flex: 1;
  height: 30px;
  font-size: 1.4em;
  line-height: 30px;
  padding: 6px;
  overflow-y: scroll;
  resize: none;
}
.chatList .chatList_right .chatSend textarea::-webkit-scrollbar {
  display: none;
}
.chatList .chatList_right .chatSend button {
  display: none;
}/*# sourceMappingURL=chat.css.map */