.detailItem {
  margin-top: 30px;
  display: flex;
  padding: 30px 0px;
  border-top: 1px solid rgb(63, 63, 63);
}
.detailItem .detailItemImg {
  margin-right: 40px;
  flex-shrink: 0;
  width: 40%;
}
.detailItem .detailItemImg img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.detailItem > div {
  flex: 1;
}
.detailItem > div .mainInfo {
  padding-bottom: 30px;
  border-bottom: 1px solid rgb(238, 238, 238);
  width: 100%;
}
.detailItem > div .mainInfo .productName {
  font-size: 24px;
  margin-bottom: 25px;
  font-weight: 600;
  line-height: 1.4;
}
.detailItem > div .mainInfo .price {
  display: flex;
  align-items: flex-end;
  gap: 10px;
}
.detailItem > div .mainInfo .price p {
  font-size: 40px;
  font-weight: 500;
}
.detailItem > div .mainInfo .price span {
  font-size: 28px;
  font-weight: 400;
  margin-left: 3px;
}
.detailItem > div .mainInfo .price .thunderImg {
  display: inline-block;
  height: 28px;
}
.detailItem > div .subInfo .infoIcon {
  height: 30px;
  margin-top: 15px;
  margin-bottom: 25px;
  display: flex;
  justify-content: space-between;
}
.detailItem > div .subInfo .infoIcon div {
  height: 100%;
  display: flex;
  align-items: center;
}
.detailItem > div .subInfo .infoIcon div p {
  display: flex;
  align-items: center;
  color: rgb(204, 204, 204);
  font-size: 16px;
  height: 100%;
}
.detailItem > div .subInfo .infoIcon div p::after {
  content: "";
  width: 1px;
  height: 12px;
  border-right: 1px solid rgb(238, 238, 238);
  margin-left: 10px;
  margin-right: 10px;
}
.detailItem > div .subInfo .infoIcon div p:last-child::after {
  display: none;
}
.detailItem > div .subInfo button {
  color: rgb(204, 204, 204);
  font-size: 16px;
  display: flex;
  align-items: center;
}
.detailItem > div .subInfo img {
  width: 21px;
  margin-right: 5px;
  vertical-align: bottom;
}
.detailItem > div .productCondition div {
  display: flex;
  margin-bottom: 17px;
  font-size: 14px;
}
.detailItem > div .productCondition div p {
  position: relative;
  width: 90px;
  padding-left: 15px;
  color: rgb(153, 153, 153);
}
.detailItem > div .productCondition div p::before {
  content: "";
  position: absolute;
  top: 7px;
  left: 6px;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background: rgb(204, 204, 204);
}
.detailItem > div .productCondition div span {
  position: relative;
  display: flex;
}
.detailItem > div .productCondition div img {
  margin-right: 4px;
  width: 15px;
  -o-object-fit: contain;
     object-fit: contain;
}
.detailItem > div .btnIcon {
  display: flex;
  justify-content: space-between;
}
.detailItem > div .btnIcon > * {
  width: 31%;
  text-align: center;
}
.detailItem > div .btnIcon > div {
  position: relative;
}
.detailItem > div .btnIcon > div button {
  width: 100%;
  height: 100%;
  padding: 20px;
  color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
}
.detailItem > div .btnIcon > div button span {
  margin: 0 3px;
  font-weight: 800;
}
.detailItem > div .btnIcon .btnWish {
  background-color: #aaa;
}
.detailItem > div .btnIcon .btnWishActive {
  background-color: #222;
}
.detailItem > div .btnIcon .btnChat {
  background-color: orange;
}
.detailItem > div .btnIcon .btnOrder {
  background-color: red;
}

.contentInfo {
  border-bottom: 1.5px solid black;
}
.contentInfo .contentInfoHeader {
  display: flex;
  justify-content: flex-end;
}
.contentInfo .contentInfoHeader div {
  width: 25px;
  height: 25px;
  margin: 10px 5px;
}
.contentInfo .contentInfoHeader div img {
  width: 100%;
  height: 100%;
  -o-object-position: center center;
     object-position: center center;
}
.contentInfo .contentInfoHeader div svg {
  width: 70%;
  height: 70%;
  margin: 3.75px auto;
  color: white;
}
.contentInfo .contentInfoHeader div:nth-child(2) {
  background-color: #3B5998;
}
.contentInfo .contentInfoHeader div:nth-child(3) {
  background-color: #55ACEE;
}
.contentInfo .contentInfoHeader div:last-child {
  background-color: transparent;
}

.otherProduct {
  display: flex;
  justify-content: space-between;
  margin: 30px 0;
}
.otherProduct div {
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: 600;
}
.otherProduct div span {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0px 6px;
  margin-left: 4px;
  border-radius: 12px;
  border: 1px solid rgb(195, 194, 204);
  font-weight: 400;
  font-size: 16px;
}
.otherProduct div span img {
  display: inline-block;
  margin-left: 1px;
}

.swiperContainer {
  width: 100%;
  margin-bottom: 50px;
}
.swiperContainer > div {
  height: 100%;
}
.swiperContainer > div .swiper-slide .detailItemImg img {
  width: 100%;
}
.swiperContainer > div .swiper-slide .slideProduct {
  display: block;
  margin-top: 10px;
  width: 100%;
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: center;
  line-height: 1.4;
  font-size: 13px;
}

.swiper-button-next,
.swiper-button-prev {
  cursor: pointer;
  z-index: 11;
  width: 40px;
  height: 40px;
  background: rgb(255, 255, 255);
  opacity: 0.6;
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-button-next {
  right: 0px;
}
.swiper-button-next::after {
  content: "";
  background: url(https://m.bunjang.co.kr/pc-static/resource/593d36bc17825240e687.png) 50% 50% no-repeat;
  background-size: contain;
  width: 12px;
  height: 12px;
}

.swiper-button-prev {
  left: 0;
}
.swiper-button-prev::after {
  content: "";
  background: url(https://m.bunjang.co.kr/pc-static/resource/74821b5e835955696b91.png) 50% 50% no-repeat;
  background-size: contain;
  width: 12px;
  height: 12px;
}/*# sourceMappingURL=detailItem.css.map */