.selected {
  color:red;
}

.searchProduct {
  padding: 80px 0;

  .searchproductnav {
    display:flex;
    justify-content: space-between;

    .searchproducttitle {
      display: flex;

      .searchproductname {
        color:red;
      }

      .searchproductcount {
        padding-left: 10px;
      }
    }

    .searchsequence {
      display: flex;
      font-size: 0.9rem;

      li:not(:last-of-type) {
        margin-right: 20px;
        padding-right: 20px;
        position: relative;
      }

      li:not(:last-of-type)::after {
        content:"";
        display:block;
        width: 1px;
        height: 50%;
        position: absolute;
        top:50%;
        right:0;
        transform: translateY(-50%);
        background-color: #ccc;
      }

      li {
        cursor: pointer;
      }
    }
  }


  .searchproductmain {
    margin: 40px 0;
    
    .searchproductcontent {
      display:flex;
      justify-content:flex-start;
      flex-wrap: wrap;
      box-sizing: border-box;
      width: 100%;
      margin:0 auto;

      li {
        margin: 0 1%;
        margin-bottom: 14px;
        width: 18%;
        border:1px solid #ddd;
        box-sizing: border-box;

        .searchlistlink {

          .searchlistinfowrap {
            padding: 6px;

            .searchlistinfo {
              padding-top: 6px;
              display:flex;
              justify-content: space-between;
              align-items: center;

              .searchlistregdate {
                color:#888;
                font-size: 0.9rem;
              }
            }
          }
          
        }
      }
    }

    .searchproductnonewrap {
      text-align: center;
      padding: 40px 0;

      .searchproductnone {

        .searchproductnonename {
          color:red;
          font-weight: bold;
          font-size: 1.3rem;
        }

        .searchproductnoneguide {
          font-weight: bold;
          font-size: 0.9rem;
          padding: 30px 0;
          border-bottom: 1px solid #ddd;
        }
      }
    }
  }


  .searchpage {
    

    .searchpagenation {
      display:flex;
      justify-content: center;

      li {
        padding: 6px 12px;
        margin: 0 10px;
        border:1px solid #000;
        cursor: pointer;
      }
    }
  }
}