.product {
  display: grid;
  margin: 0 auto;
  grid-template-columns: repeat(5,1fr);
}

.pro {
  filter: brightness(95%);
  background-color: #fff;
  border: 1px solid #ddd;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  margin-top: 10px;
  width: 210px;
  text-align: left;
  overflow: hidden;
}

.pro_img {
  width: 100%;
  object-fit: fill;
}
.pro_img img{
  width: 100%;
  height: 220px;
}

.pro_name {
  font-size: 15px;
  padding: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.pro_pr_da{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-left: 5px;
  padding-right: 5px;
}

.pro_price {
  font-size: 16px;
  color: #444;
  margin-bottom: 3px;
}

.pro_date {
  font-size: 14px;
  color: #888;
}

.pro:hover {
  filter: brightness(100%);
  transition: filter 0.3s ease
}

.more_button{
  padding: 0;
  background-color: rgb(247, 0, 0);
  border-radius: 5px;
  font-size: 1.1rem;
  margin: 20px auto;
  color: white;
  width: 80px;
  height: 30px;
}

