.pro_header{
  border: .5px solid #eee;
  width: 100%;
  height: 300px;
  text-align: center;
  line-height: 35px;
  margin: 20px auto;
  color: #555;
}

.left_box{
  width: 30%;
  height: 100%;
  /* min-width: 180px; */
  background: #ccc;
  float: left;
  position: relative;
  padding: 40px;
  box-sizing: border-box;
}

.inline{
  display: inline;
  box-sizing: border-box;
}

.store{
  font-weight: 700;
  font-size: 1.1rem;
  margin-right: 10px;
}

.store_but{
  border: 1px solid #eee;
  border-radius: 5px;
  width: 120px;
  height: 40px;
}


/* right_box */
.right_box{
  width: 70%;
  height: 100%;
  /* min-width: 430px; */
  float: left;
  padding: 20px;
  box-sizing: border-box;
}

.float_left{
  float: left;
}

.sbox{
  border: 1px solid #ccc;
  border-radius: 3px;
  width: 80px;
  font-size: 0.8rem;
  margin-top: 8px;
}

.savebut{
  margin: 3px;
}

.float_right{
  float: right;
}

.first{
  height: 20%;
}

.name_textarea{
  border: 1px solid #ccc;
  border-radius: 5px;
  height: 25px;
}



.second{
  display: flex;
  height: 20%;
  justify-content: space-between;
  margin-top: 10px;
}

.smallfont{
  font-size: 0.8rem;
  line-height: 12px;
}

.third{
  height: 60%;
  text-align: left;
}

.ok{
  margin: 5px;
  padding-left: 3px;
  padding-right: 3px;
  border: 1px solid orange;
  border-radius: 10px;
  background: orange;
  color: white;
  font-size: 0.8rem;
}

.commet{
  width: 100%;
  height: 60%;
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 20px;
  box-sizing: border-box;
  display: block;
  font-size: 0.8rem;
}

.commet_textarea{
  width: 100%;
  height: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
}

.pro_header .scoreBox{
  margin: 5px 10px 10px 10px ;
  text-align: center;
  justify-content: center;
}