$min-xlg: "screen and (min-width:1400px)";
$max-xlg: "screen and (max-width:1400px)";
$xlg: "screen and (min-width:1000px) and (max-width:1400px)";
$min-lg: "screen and (min-width:1000px)";
$max-lg: "screen and (max-width:1000px)";
$min-sm: "screen and (min-width:500px)";
$max-sm: "screen and (max-width:500px)";
$md: "screen and (min-width:500px) and (max-width:1000px)";

