/* banner */

.banner {
  width: 100%;
  overflow: hidden;
  position: relative;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

.banner_slider {
  display: flex;
  transform: translateX(translateValue);
  transition: transform 0.5s ease-in-out;
}

.banner_img {
  width: 100%; 
  object-fit: cover;
}

.banner_controls {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.banner_control {
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  border: none;
  padding: 10px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.banner_control:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.banner_text h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.banner_text p {
  font-size: 16px;
  max-width: 400px;
  margin: 0 auto;
}

.banner_bottom{
  width: 100%;
  margin: 20px auto;
}