@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: inherit;
  color:inherit;
  font-size: inherit;
  font-style: inherit;
  text-decoration: inherit;
  font-weight: inherit;
  word-break:keep-all ;
  font-family: 'Noto Sans KR', sans-serif;
}

li {
  list-style: none;
}

table {
  border-collapse: collapse;
}

input,
select,
textarea {
  box-sizing: border-box;
}

button{
  border:none;
  background: none;
  outline: none;
  cursor: pointer;
}

img, iframe, video, svg, canvas{
  display: block;
}

iframe{
  border: none;
}

.hidden{
  position: fixed;
  left:-10000px;
}
fieldset{
  border: none;
}

.inner{
  width: 60%;
  margin: 0 auto;
}
@media screen and (max-width: 1600px) {
  .inner{
    width: 70%;
  }
  
}
@media screen and (max-width: 1500px) {
  .inner{
    width: 80%;
  }
  
}
@media screen and (max-width: 1000px) {
  .inner{
    width: 90%;
  }
  
}
:root {
  --red: rgb(247, 47, 51); 
}
.scoreBox{display: flex;}
.star{
  display: block;
  width: 15px;
  height: 15px;
  background: url(http://127.0.0.1:8000/webImg/star.png) 50% 50% no-repeat;
  background-size: contain;
}